@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}

body{
    min-height: 80vh;
    background: url(pexels-tima-miroshnichenko-7991303.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 90px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 100;
}

.logo{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.logo2 {
    position: relative;
    left: -608px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    color: rgb(202, 0, 0);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-left: 50px;
}

.navbar>a:hover {
    color: rgb(202, 0, 0);
    transition: all .3s ease-in-out;
}

.judul {
    position: relative;
    padding: 200px;
    text-align: end;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.tambahtambah {
    color: white;
    margin-top: 10px;
    font-weight: 500;
    font-style: italic;
}

.contact {
    position: relative;
    top: 360px;
    height: 217px;
    background-color: rgb(12, 12, 27);
}

.welo {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    list-style-type: none;

}

.welo>li>a {
    position: relative;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.wela {
    display: flex;
    justify-content: space-around;
    margin-left: -10px;
    list-style-type: none;
}

.wela>li>a {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.wele {
    color: white;
    text-align: end;
    margin-right: 255px;
    margin-top: -60px;
}

.footerbottom {
    background-color: rgb(7, 7, 19);
    bottom: -300px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.footerbottom>p {
    color: white;
    font-weight: bold;
}